<div ng-if="recipes">
  <div class="row">
    <div ng-if=" !recipeName" class="col-md-4 mb-3" ng-repeat="recipe in recipes">
      <div class="card d-flex flex-column h-100">
        <img ng-src="{{ recipe.strMealThumb }}" class="card-img-top" alt="{{ recipe.strMeal }}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center  flex-grow-1 mb-4">{{recipe.strMeal}}</h5>
          <div class="d-flex justify-content-center mt-auto">

            <button class="btn btn-primary" ng-click="viewRecipeDetails(recipe.strMeal)">
              View Recipe Details
            </button>
          </div>
        </div>
      </div>
    </div>

    <recipe class=" container" recipe-name="recipeName"></recipe>
  </div>
</div>